.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    background-color: #F8F8F8;
    position: relative;

    a{
        font-size: 19px;
        color: #000;
        text-decoration: none;
    }

    .lastFooter{
        background-color: #333;
        color: #fff;
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;

        p{
            margin: 0;
        }

        spain{
            color: #FD6F00;
        }
    }
}