.topSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;

    .content{
        width: 50%;

        h2{
            line-height: 36px;
        }

        spain{
            color: #FD6F00;
            font-size: 32px;
            font-weight: 600;
            line-height: 48px;
        }

        h1{
            font-size: 100px;
            margin: 0px;
            line-height: 120px;
            font-weight: 700;
            color: #000000;

            spain{
                font-size: 100px;
                font-weight: bold;
                margin-left: 225px;
                line-height: 120px;
                color: #000000;
            }
        }
        p{
            font-size: 21px;
        }
    }

    .imageSection{
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;

        .icons{
            margin-top: 20px;
        }

        .orangeDiv{
            width: 374px;
            height: 83px;
            background-color: #FD6F00;
            opacity: 0.6;
            position: absolute;
            margin-top: 80px;
        }

    }
}